@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;&display=swap');

/* ----------------------------------------
BASE HTML TAGS
---------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 1600px;
    font: 400 14px/145% 'Roboto', sans-serif;
    text-align: center;
    color: rgba(0,0,0,1);
}

img {
    vertical-align: middle;
}

p {
    margin: 21px auto 30px auto;
}

/* --- 'a' tag, links, buttons --- */

a {
    transition: border-bottom .4s ease, background-color .4s ease, transform .4s ease;
}

span.text {
    display: inline-block;
    padding: 16px 18px;
    line-height: normal;
}

.icon-apple {
    padding: 16px 30px;
    background: rgba(0, 156, 194, 1) url('icons/apple.svg') 50% no-repeat;
}

.icon-android {
    padding: 16px 30px;
    background: rgba(0, 156, 194, 1)url('icons/android.svg') 50% no-repeat;
}

/* --- headings --- */

h1 {
    margin: 0;
    padding: 0;
    font: 700 64px 'Roboto', sans-serif;
    line-height: auto;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font: 700 64px/140% 'Roboto', sans-serif;
    letter-spacing: 4.5px;
}

h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font: 700 24px 'Roboto', sans-serif;
    color: rgba(55, 55, 55, 1);
    line-height: normal;
    letter-spacing: 1px;
}

h3.color-white {
    color: rgba(255, 255, 255, 1);
}

h4 {
    margin: 23px 0 0 5px;
    padding: 0;
    text-transform: uppercase;
    font: 500 16px/20px 'Roboto', sans-serif;
    color: rgba(55, 55, 55, 1);
    line-height: normal;
    letter-spacing: 2.4px;
}

/* ----------------------------------------
BLOCKS HEADER, NAV, CONTENT, WRAPPER, FOOTER
---------------------------------------- */

header {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 95px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
}

footer {
    display: flex;
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,1);
    justify-content: center;
    color: rgba(129, 129, 129, 1);
}

/* --- top menu --- */

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 40px;
    padding: 0;
    vertical-align: middle;
    list-style: none;
}

nav ul li a {
    padding-bottom: 2px; 
    font: 400 14px/140% 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-bottom: 0px solid transparent;
}

nav ul li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

nav ul li.logo a:hover {
    border-bottom: 0px solid transparent;
}

nav ul li a.active {
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

/* --- wrapper --- */

.wrap {
    display: flex;
    margin: auto;
    padding: 120px 109px 140px 109px;
    width: 1062px;
    align-items: center;
    justify-content: space-between;
    color: rgba(78, 78, 78, 1);
}

.wrap-header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 744px;
    background: url('img/bg-image.png') rgba(0,0,0,1);
    min-height: 744px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-100 {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.wrap-footer {
    display: flex;
    margin: auto;
    padding: 60px 0 79px 0;
    width: 1280px;
    align-items: center;
    justify-content: space-between;
}

.wrap-footer div {
    display: block;
    width: 400px;
    text-align: center;
}

.wrap-footer div:first-child {
    text-align: left;
}

.wrap-footer div:last-child {
    text-align: right;
}

.wrap-3-column {
    display: inline-block;
    width: 298px;
    text-align: center;
}

.wrap-3-column p {
    margin: 12px 0 0 2px;
}

.wrap-4-column {
    width: 407px;
    text-align: left;
}

.wrap-5-column {
    padding-right: 109px;
    width: 407px;
    text-align: left;
}

.wrap-6-column {
    position: relative;
    display: flex;
    height: 244px;
    width: 654px;
    text-align: right;
}

/* ----------------------------------------
CONTENT-BLOCKS
---------------------------------------- */

.header-content {
    margin-top: 135px;
    color: rgba(255, 255, 255, 1);
}

.logo {
    margin: 0 60px;
}

p.motto {
    margin-bottom: 28px;
    width: 500px;
    font-size: 18px;
    line-height: 140%;
}

.header-content .social {
    display: block;
}

.header-content .social ul {
    margin-top: 183px;
    padding: 0;
}

.header-content .social ul li {
    display: inline-block;
    margin: 0 13px;
    padding: 0;
    vertical-align: middle;
    list-style: none;
}

.header-content .social ul li a img {
    width: 20px;
    height: 20px;
    transition: transform .4s ease;
}

.header-content .social ul li a:hover img {
    transform: scale(1.2);
}

.Our {
    background-color: rgba(245, 246, 247, 1);
}

.SignUP {
    padding: 217px 0 0;
    height: 380px;
    min-height: 380px;
    background: url('img/sign-bg.png') rgba(0,0,0,1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.DownloadApp {
    padding: 120px 0 180px 0;
}

/* ----------------------------------------
SLIDER
---------------------------------------- */

.float-right-slider {
    position: absolute;
    display: inline-flex;
    line-height: 0;
}

.slide {
    margin-left: 30px;
    overflow: hidden;
}

.slide img {
    transition: transform .4s ease;
}

.slide img:hover {
    transform: scale(1.02);
}

/* --- paginator --- */

.paginator {
    position: absolute;
    display: flex;
    right: -4px;
    top: -36px;
    width: 86px;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
}

.paginator .num {
    font-size: 18px;
    font-weight: 500;
}

.paginator span span {
    font-weight: 400;
}

.paginator a {
    margin: 0;
    padding: 0;
    transition: transform .4s ease;
}

/* --- buttons next/prev --- */

a.prev {
    padding: 6px;
    background: url('icons/arrow-left.svg') no-repeat center;
}

a.next {
    padding: 6px;
    background: url('icons/arrow-right.svg') no-repeat center;
}

a.prev:hover {
    transform: translateX(-4px);
}

a.next:hover {
    transform: translateX(4px);
}

/* ----------------------------------------
FOOTER ELEMENTS
---------------------------------------- */

ul.footer-menu {
    display: flex;
    margin: 0;
    padding: 0;
}

ul.footer-menu li {
    display: flex;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-right: 1px solid rgba(78, 78, 78, 1);
    height: 8px;
}

ul.footer-menu li:first-child {
    padding-left: 0;
}

ul.footer-menu li:last-child {
    padding-right: 0;
    border: 0;
}

ul.footer-menu li a {
    font: 400 14px/140% 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

ul.footer-menu li a:hover {
    text-decoration: underline;
}

/* ----------------------------------------
INPUT, BUTTON
---------------------------------------- */

input[type="email"] {
    margin: 0;
    padding: 14px 24px 13px 24px;
    width: 292px;
    border: 0;
    font: 400 14px/140% 'Roboto', sans-serif;
    color: rgba(55, 55, 55, 1);
}

.button-text, .button-icon, .button-text-icon {
    margin: 0;
    border: 0;
    font: 700 14px/18px 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    background-color: rgba(0, 175, 219, 1);
    transition: width 0.4s ease-in, background-color 0.4s ease-in;
}

.button-text {
    padding: 15px 47px;
    height: 46px;
}

.button-icon {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 46px;
    padding: 23px 33px;
    overflow: hidden;
    z-index: 1;
}

.button-text-icon {
    position: relative;
    display: inline-block;
    margin: 0 13px;
    width: 188px;
    padding: 18px 60px 14px 0;
    overflow: hidden;
    z-index: 1;
}

.button-text-icon::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 156, 194, 1);
    transition: width 0.4s ease-in;
    z-index: -1;
}

.button-text:hover, .button-icon:hover {
    background-color: rgba(0, 156, 194, 1);
}

.button-text-icon:hover::before {
    width: 100%;
}

.button-text span, .button-icon span, .button-text-icon span {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

.btn-icon-check {
    width: 66px;
    height: 46px;
    background: url('icons/fa-check.svg') 50% no-repeat;
}

.btn-icon-apple {
    width: 60px;
    height: 50px;
    background: rgba(0, 156, 194, 1) url('icons/apple.svg') 50% no-repeat;
}

.btn-icon-android {
    width: 60px;
    height: 50px;
    background: rgba(0, 156, 194, 1) url('icons/android.svg') 50% no-repeat;
}

button[type="submit"]:hover {
    cursor: pointer;
}

input[type="email"]:focus, button[type="submit"]:focus {
    outline: none;
}

/* ----------------------------------------

---------------------------------------- */